body {
    background: cornsilk;
    background-image: url('./big_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pure-button {
    -webkit-border-radius: 1em;
  border-radius: 1em;
}